<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1424px; height: 46px; left: 268px; top: 176px; position: absolute; color: #3C4154; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Create Your Resume and Get Noticed By Employers!</div>
    <div style="width: 709px; height: 69px; left: 268px; top: 234px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Enter your details in this unbelievably easy tool and create a resume for free In just 10 Minutes!</div>
    <div style="width: 5px; height: 1px; left: 536px; top: 479px; position: absolute; background: #D9D9D9"></div>
    <img style="height: 27px; width: 28px; left: 282px; top: 351px; position: absolute;" src="static/vector.jpg" alt="Image Description">

    <img style="height: 27px; width: 28px; left: 640px; top: 351px; position: absolute;" src="static/vector.jpg" alt="Image Description">
    <img style="height: 27px; width: 28px; left: 640px; top: 429px; position: absolute;" src="static/vector.jpg" alt="Image Description">
    <img style="height: 27px; width: 28px; left: 282px; top: 426px; position: absolute;" src="static/vector.jpg" alt="Image Description">

   
    <div style="width: 197px; height: 45px; left: 326px; top: 353px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Personal Details</div>
    <div style="width: 197px; height: 45px; left: 326px; top: 425px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Education</div>
    <div style="width: 197px; height: 45px; left: 681px; top: 353px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Summary<br/><br/><br/> Skills</div>
    <a href="/resume" style="width: 493px; height: 114px; left: 282px; top: 517px; position: absolute; background: #A8DADD; border-radius: 25px;" ></a>
    <div style="width: 423px; height: 63px; left: 387px; top: 556px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word; "  >create resume now!</div>
</div>
<style>
    // Create Your Resume and Get Noticed By Employers!
color: #3C4154;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Enter your details in this unbelievably easy tool and create a resume for free In just 10 Minutes!
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Personal Details
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Education
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Summary<br/><br/><br/> Skills
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// create resume now!
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
</style>